.form {
  display: flex;
  flex-direction: column;
  margin: 20px auto;

  div:first-child {
    height: 30px;
    width: 200px;

    display: flex;
    margin: 5px auto;

    input {
      //display: -webkit-box;
    }

    button {
      background: inherit;
    }
  }

  h3 {
    font-size: 12px;
    font-weight: 400;
    color: tomato;
  }
}
